@import '../../sass/config';

.cursor {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border: 1px solid rgb(120, 120, 120);
	transition: all 200ms ease-out;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999999;
	transform: translate(calc(-50% - 3.5px), calc(-50% - 3.5px));

	@include theme(light) {
		border-color: rgb(120, 120, 120);
	}

	@include theme(dark) {
		border-color: rgb(180, 180, 180);
	}

	&-ball {
		width: 9px;
		height: 9px;
		border-radius: 100%;
		background-color: rgba(255, 255, 255, 0.65);
		pointer-events: none;
		position: absolute;
		z-index: 999999;
		transition: width .3s, height .3s, opacity .3s;
		transform: translate(-50%, -50%);

		@include theme(light) {
			background-color: rgba(0, 0, 0, 0.65);
		}

		@include theme(dark) {
			background-color: rgba(255, 255, 255, 0.65);
		}
	}
}