.contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-head {
  width: fit-content;
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  font-size: 2.75rem;
  line-height: 3.5rem;
  font-weight: 100;
  font-weight: lighter;
  padding: 1.5rem 2rem;
}
@media (max-width: 880px) {
  .contact-head {
    height: 5rem;
    flex-flow: row;
  }
}
.contact-head span {
  --color: var(--red);
  --index: 2;
  color: var(--color);
  position: relative;
  clip-path: inset(0 0);
  animation-name: text-reveal;
  animation-duration: 1s;
  animation-delay: calc(var(--index) * 0.25s);
  animation-fill-mode: both;
  animation-timing-function: steps(1);
}
.contact-head span:nth-of-type(1) {
  --color: var(--green);
  --index: 0;
}
.contact-head span:nth-of-type(2) {
  --color: var(--yellow);
  --index: 1;
}
.contact-head span:after {
  content: "";
  position: absolute;
  inset: 0 0;
  background-color: var(--color);
  animation-name: block-reveal;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: calc(var(--index) * 0.25s);
}
@media (max-width: 880px) {
  .contact-head span {
    margin-right: 0.5rem;
  }
}
.contact-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100% - 11rem);
  overflow: hidden;
}
@media (max-width: 880px) {
  .contact-body {
    height: calc(100% - 5rem);
    flex-flow: column;
  }
}
.contact-form {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}
.contact-form .form-group {
  margin: 1rem 0;
}
@media (max-width: 880px) {
  .contact-form {
    margin-top: 3rem;
    width: 90%;
    height: 60%;
  }
}
@media (max-width: 672px) {
  .contact-form {
    width: 100%;
  }
}
.contact-socials {
  width: 50%;
  height: 100%;
}
@media (max-width: 880px) {
  .contact-socials {
    width: 90%;
    height: 40%;
  }
}
.contact-socials ul {
  width: 60%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 880px) {
  .contact-socials ul {
    width: 90%;
  }
}
@media (max-width: 672px) {
  .contact-socials ul {
    width: 90%;
  }
}
.contact-socials li {
  margin: 1.5rem;
  --size: 54px;
  width: var(--size);
  height: var(--size);
  background: var(--bgcolor-100);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  transition: none;
  cursor: pointer;
}
@media (max-width: 880px) {
  .contact-socials li {
    margin: 0.75rem 1.25rem;
  }
}
@media (max-width: 672px) {
  .contact-socials li {
    --size: 42px;
    margin: 0.75rem 1.25rem;
  }
}
.contact-socials li svg {
  z-index: 5;
  transition: color 0.05s ease-in-out;
  transform: scale(3);
}
.contact-socials li::before {
  content: "";
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: var(--social-color);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s;
  z-index: 1;
}
.contact-socials li:hover svg {
  color: #ffffff;
}
.contact-socials li:hover::before {
  transform: scale(1);
}
.contact-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
@media (max-width: 880px) {
  .contact-resume {
    margin: 0.5rem 0;
  }
}

@keyframes block-reveal {
  0% {
    transform: translatex(-110%);
  }
  45%, 55% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(110%);
  }
}
@keyframes text-reveal {
  0% {
    color: transparent;
  }
  50%, 100% {
    color: var(--color);
  }
}

/*# sourceMappingURL=contact.css.map */
