$colors: "blue", "red", "yellow", "green", "white", "black", "purple", "indigo",
	"orange", "grey", "brown";
@import "../../config";
.contact {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	&-head {
		width: fit-content;
		height: 11rem;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-flow: column;
		font-size: 2.75rem;
		line-height: 3.5rem;
		font-weight: 100;
		font-weight: lighter;
		padding: 1.5rem 2rem;
		@include respond(tab) {
			height: 5rem;
			flex-flow: row;
		}
		span {
			--color: var(--red);
			--index: 2;
			color: var(--color);
			position: relative;
			clip-path: inset(0 0);
			animation-name: text-reveal;
			animation-duration: 1s;
			animation-delay: calc(var(--index) * 0.25s);
			animation-fill-mode: both;
			animation-timing-function: steps(1);
			&:nth-of-type(1) {
				--color: var(--green);
				--index: 0;
			}
			&:nth-of-type(2) {
				--color: var(--yellow);
				--index: 1;
			}
			&:after {
				content: "";
				position: absolute;
				inset: 0 0;
				background-color: var(--color);
				animation-name: block-reveal;
				animation-duration: 1s;
				animation-fill-mode: both;
				animation-delay: calc(var(--index) * 0.25s);
			}
			@include respond(tab) {
				margin-right: 0.5rem;
			}
		}
	}
	&-body {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: calc(100% - 11rem);
		overflow: hidden;
		@include respond(tab) {
			height: calc(100% - 5rem);
			flex-flow: column;
		}
	}
	&-form {
		width: 50%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-flow: column;
		.form-group {
			margin: 1rem 0;
		}
		@include respond(tab) {
			margin-top: 3rem;
			width: 90%;
			height: 60%;
		}
		@include respond(phone) {
			width: 100%;
		}
	}
	&-socials {
		width: 50%;
		height: 100%;
		@include respond(tab) {
			width: 90%;
			height: 40%;
		}
		ul {
			width: 60%;
			margin: 0 auto;
			list-style: none;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-wrap: wrap;
			@include respond(tab) {
				width: 90%;
			}
			@include respond(phone) {
				width: 90%;
			}
		}
		li {
			margin: 1.5rem;
			--size: 54px;
			width: var(--size);
			height: var(--size);
			background: var(--bgcolor-100);
			box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			border-radius: 50%;
			transition: none;
			cursor: pointer;
			@include respond(tab) {
				margin: 0.75rem 1.25rem;
			}
			@include respond(phone) {
				--size: 42px;
				margin: 0.75rem 1.25rem;
			}
			svg {
				z-index: 5;
				transition: color 0.05s ease-in-out;
				transform: scale(3);
			}
			&::before {
				content: "";
				position: absolute;
				width: var(--size);
				height: var(--size);
				background-color: var(--social-color);
				border-radius: 50%;
				transform: scale(0);
				transition: 0.5s;
				z-index: 1;
			}
			&:hover {
				svg {
					color: #ffffff;
				}
				&::before {
					transform: scale(1);
				}
			}
		}
	}
	&-resume {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 3rem 0;
		@include respond(tab) {
			margin: 0.5rem 0;
		}
	}
}

@keyframes block-reveal {
	0% {
		transform: translatex(-110%);
	}
	45%,
	55% {
		transform: translatex(0);
	}
	100% {
		transform: translatex(110%);
	}
}
@keyframes text-reveal {
	0% {
		color: transparent;
	}
	50%,
	100% {
		color: var(--color);
	}
}
