*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: all 0.25s ease-in-out;
	cursor: none !important;
}

@import "./sass/shadows";
@import "./sass/colors";
@import "./sass/presets";
@import "./sass/theme";

:root,
:root::before,
:root::after {
	--transition-time: 200ms;
	--head-height: 100px;
	--side-width: 341.5px;

	--blue: #4285f4;
	--red: #ea4335;
	--yellow: #fbbc05;
	--green: #34a853;
}

@import "./sass/config";
@import "./sass/variables";
@import "./sass/fonts";

html {
	font-size: 16px;
	overflow-x: hidden;

	@include respond(big-desktop) {
		font-size: 18px;
	}

	@include responsive(tablet) {
		font-size: 14px;
	}

	@include responsive(phone) {
		font-size: 12px;
	}
}

body {
	font-family: var(--font-google-sans);
	background-color: var(--b-navy);
	color: var(--b-slate);
	font-size: 1rem;
	letter-spacing: 0.025rem;
	word-spacing: 0.25rem;
	line-height: 1.25rem;
	position: relative;
	transition: all var(--transition-time) ease-in-out;
	overflow-x: hidden;
	background-image: url('https://marketplace.canva.com/EAE3Xni-QyQ/1/0/900w/canva-moonlight-blue-landscape-ios-home-screen-Pvnvis33vsc.jpg');
	background-attachment: fixed;
	background-position-x: center;
	background-position-y: bottom;
	background-size: cover;
	background-repeat: no-repeat;

	@include theme(light) {
		background-color: var(--b-slate);
		color: var(--b-navy);
	}

	@include theme(dark) {
		background-color: var(--b-navy);
		color: var(--b-slate);
	}
}

@import "./sass/responsive";
@import "./sass/keyframes";
@import "./sass/loader";

a {

	&,
	&:hover,
	&:visited,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

img {
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
}

main {
	width: 100%;
}

button {
	all: unset;
	cursor: pointer;
	user-select: none;
}

input,
textarea,
select {
	all: unset;

	&::placeholder {
		user-select: none;
	}
}

@import "./sass/tooltip";

::-webkit-scrollbar {
	width: 0;
	height: 0;
	background-color: transparent;

	&-track {
		background-color: transparent;
	}

	&-thumb {
		background-color: transparent;
	}
}

::selection {
	background-color: var(--b-green);
	color: var(--b-dark-navy);
}

.material-symbols-outlined {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: pointer;
}

.dispn {
	display: none !important;
}