@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat&family=Cookie&family=Dancing+Script&family=Gaegu&family=Handlee&family=Indie+Flower&family=Just+Me+Again+Down+Here&family=Kalam&family=Megrim&family=Montserrat:wght@100;400;700&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@100;400;700&family=Redressed&family=Reenie+Beanie&family=Roboto&family=Sacramento&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: all 0.25s ease-in-out;
	cursor: none !important;
}

@import "./sass/shadows";
@import "./sass/colors";
@import "./sass/presets";
@import "./sass/theme";

:root,
:root::before,
:root::after {
	--transition-time: 200ms;
	--head-height: 10vh;
	--side-width: 341.5px;

	--blue: #4285f4;
	--red: #ea4335;
	--yellow: #fbbc05;
	--green: #34a853;
}

@import "./sass/config";
@import "./sass/variables";
@import "./sass/fonts";

html {
	font-size: 16px;
	overflow-x: hidden;

	@include respond(big-desktop) {
		font-size: 18px;
	}

	@include responsive(tablet) {
		font-size: 14px;
	}

	@include responsive(phone) {
		font-size: 12px;
	}
}

body,
#root {
	font-family: var(--font-google-sans);
	background-color: var(--bgcolor);
	color: var(--tcolor);
	font-size: 1rem;
	letter-spacing: 0.025rem;
	word-spacing: 0.25rem;
	line-height: 1.25rem;
	transition: all var(--transition-time) ease-in-out;
	overflow-x: hidden;
}

#root {
	width: 100%;
	height: 100%;
	flex-flow: column;
	background: transparent;
}

@import "./sass/responsive";
@import "./sass/keyframes";
@import "./sass/loader";

a {

	&,
	&:hover,
	&:visited,
	&:active,
	&:focus {
		border: none;
		outline: none;
		text-decoration: none;
		color: inherit;
	}
}

img {
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
}

main {
	width: 100%;
}

button {
	border: none;
	outline: none;
	background: none;
	font: inherit;
	cursor: pointer;
	user-select: none;
}

input,
textarea,
select {
	border: none;
	outline: none;
	background: none;
	font: inherit;
	color: inherit;
	resize: none;

	&::placeholder {
		user-select: none;
	}
}

@import "./sass/tooltip";

::-webkit-scrollbar {
	width: 0;
	height: 0;
	background-color: transparent;

	&-track {
		background-color: transparent;
	}

	&-thumb {
		background-color: transparent;
	}
}

::selection {
	background-color: var(--green);
	color: var(--bgcolor);
}

.material-symbols-outlined {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: pointer;
}

.dispn {
	display: none !important;
}