.link {
    color: var(--b-green);
    font: inherit;
    position: relative;
    text-decoration: none;
    transition: all var(--transition-time) ease-in-out;
    cursor: pointer;
    user-select: none;
    display: inline;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--b-green);
        transition: all var(--transition-time) ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }
}